.container-chairs {
  width: 650px;
  height: 400px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: rgb(217, 217, 217);
  border-radius: 20px;
  padding: 30px;
}

