.button:hover {
  background-color: rgb(49, 49, 49);
}
.login--modal {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: none;
  background-color: rgb(107, 107, 107);
  position: absolute;
  width: 300px;
  height: 320px;
  border-radius: 63px;
  color: white;
  z-index: 3;
}
